.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    color: $clr1;
    position: absolute;
    width: 100vw;
    height: 70px;
    top: 0;
    // z-index: 10;
    background: linear-gradient(180deg, rgb(31 150 139 / 51%) 0%, rgba(14, 18, 18, 0.255) 100%);


    .logo {
        font-size: 24px;
        font-family: Pacifico, Arial;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            color: $clr4;
            text-shadow: 0px 0px 6px #ffffff4d; 
        }
        
    }
    
    a{
        text-decoration: none;
        color: $clr1;
    }

    .nav-bar {

        display: flex;
        padding: 0 40px;
        gap: 30px;


        .nav-btn {
            font-family: Montserrat, Arial;
            font-weight: 500;
            cursor: pointer;
            transition: 0.3s;
            // background-color: #ffffff59;
            padding: 10px;
            border-radius: 12px;
            
            &:hover {
                color: $clr4;
                text-shadow: 0px 0px 2px #ffffff4d; 
            }
        }
    }
}


@include for-mobile-layout {
    .app-header{
       
        
        .nav-bar{
            // position: fixed;
            display: none;
        }
    }
}