.contacts-page {
    background-color: $clr2;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;

    .line {
        height: 1.5px;
        border-radius: 31px;
        width: 715px;
        background-color: #fff;
    }

    h1 {
        font-family: Jost, Arial;
        font-size: 30px;
        font-weight: 400;
        color: #fff;
    }

    .contacts-icon {
        display: none;
    }

    .contacts {
        display: flex;
        justify-content: center;
        gap: 100px;

        a {
            display: flex;
            gap: 20px;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            color: white;
            border: 2px solid;
            padding: 15px;
            border-radius: 30px;
            text-decoration: none;
            cursor: pointer;
        }

        .insta {
            transition: 0.5s;

            &:hover {
                background-color: #e16a5f;
            }
        }

        .vk {
            transition: 0.5s;

            &:hover {
                background-color: #0077ff;
            }
        }

        .telega {
            transition: 0.5s;

            &:hover {
                background-color: #27a3e2;
            }
        }

        .whatsapp {
            transition: 0.5s;

            &:hover {
                background-color: #1ad03f;
            }
        }
    }
}

@include for-mobile-layout {

    .contacts-page {
        padding: 50px 15px;
        flex-direction: row;

        .line{
            width: 2px;
            height: 246px;
        }
        h1{
            font-size: 1.5rem;
            width: 45%;
        }
        .contacts {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            a{
                width: 60px;
                span{
                    display: none;
                }
            }
        }

    }
}