.third-page {
    background-color: $clr3;
    height: 100%;
    display: flex;
    justify-content: center;


    .third-page-container {
        margin-top: 50px;
        width: 72vw;
        text-align: center;

    }

    h1 {
        margin: 0;
        padding: 30px 0;
        font-family: Jost-Light, Arial;
        font-size: 40px;
    }

    h2 {
        margin: 0;
        font-family: Montserrat-Light, Arial;
        font-size: 20px;
        line-height: 34px;
        padding: 20px 0;
    }

    .third-page-footer {
        padding-bottom: 80px;

        h3 {
            padding: 20px 0;
            font-family: Jost-Light, Arial;
            font-size: 24px;
            line-height: 34px;
            font-weight: 300;
        }
    }

}

.carts-container {
    display: flex;
    padding-top: 40px;
    padding-bottom: 100px;
    gap: 80px;

    .cart {
        display: flex;
        width: 50%;
        margin: 12px;
        cursor: pointer;
        transition: 0.4s;
        &:hover{
            box-shadow: 0 0 10px 2px;
            width: 51%;  
        }

        img {
            width: 90%;
            height: 260px;
            object-fit: cover;
        }

        .text-container {
            text-align: start;
            padding: 0 30px;

            &.bad {
                background-color: #833434;

            }

            &.good {
                background-color: rgb(0, 152, 79);
            }

            h2 {
                color: rgb(233, 206, 139);
                font-family: Jost, Arial;
                font-size: 22px;
                font-weight: 500;
            }

            h3 {
                color: $clr6;
                font-family: Montserrat, Arial;
                font-size: 16px;
                line-height: 26px;
                font-weight: 400;
            }
            span{
                display: flex;
                justify-content: end;
                font-family: Montserrat, Arial;
                padding-top: 10px;
                width: 100%;
            }
        }
    }
}


@include for-mobile-layout {


    .third-page {

        .third-page-container {
            width: 90vw;
        }

        h1 {
            font-size: 31px;
        }

        .carts-container {
            padding-bottom: 50px;
            gap: 30px;
            flex-direction: column;
            
            .cart {
                display: flex;
                width: 95%;
                margin: 12px;

                &.second {
                    flex-direction: row-reverse;
                }
            }

            img {
                width: 48%;
                height: 325px;
            }
            .text-container {
                padding: 0 15px;
                width: 52%;
                max-height: 325px;
            }
        }

        .third-page-footer {
            padding-bottom: 30px;
        }
    }
}