// Colors
$clr1: #40cbbd;
$clr2: #20262E;
$clr3: #5da2a4;
// $clr1: #1e7a4f;
// $clr3: #c2a977;
// $clr2: #1d1d1d;
$clr4: #04d9fa;
// $clr4: rgb(18, 193, 18);
$clr5: #26bfb0;
$clr6: #ffffff;
$clr7: #222;
$clr8: #c04277;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;