// Colors
$clr1: #1e7a4f;
$clr2: #1d1d1d;
$clr3: #c2a977;
$clr4: rgb(18, 193, 18);
$clr5: rgb(52, 147, 51);
$clr6: #ffffff;
$clr7: #222;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;